<include file='common/meta' />
<style>
    .layui-table-cell{  /*最后的pic为字段的field*/
      height: 100%;
      max-width: 100%;
    } 
</style>
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">评论列表</div>

                <!-- <div class="layui-form layui-card-header layuiadmin-card-header-auto" lay-filter="app-content-list">
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">用户昵称</label>
                            <div class="layui-input-inline">
                                <input type="text" name="title" placeholder="请输入" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <button class="layui-btn layuiadmin-btn-list" lay-submit="" lay-filter="LAY-app-contlist-search">
                                <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
                            </button>
                        </div>
                    </div>
                </div> -->

                <div class="layui-card-body">
                    <table class="layui-hide" id="test-table-autowidth"></table>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    layui.use(['table','form'],function(){
        var table = layui.table;
        var form = layui.form;
        var url = "{:url('Goods/discuss')}";

        //监听搜索
        form.on('submit(LAY-app-contlist-search)', function(data){
            var field = data.field;
            field.page = 1;
            //执行重载
            table.reload('test-table-autowidth', {
                where: field
            });
        });

        table.render({
            elem: '#test-table-autowidth',
            url:url,
            method:'post',
            response:{
                statusCode:200
            },
            page:{
                layout:['prev','page','next','skip','count']
            },
            where:{
                aid:"{:input('aid')}"
            },
            limit:20,
            cols:[[
                {field:'add_time',title:'评论时间',width:'10%'},
                {title:'评论用户',width:'10%',templet:function(d){
                    return '<img src="'+d.user.head_img+'" style="width:30px;margin-right:5px" alt="" />'+d.user.nickname;
                }},
                {field:'score',title:'评分',width:"5%",align:'center'},
                {field:'desc',title:'评论内容'},
                {title:'评论图片',templet:function(d){
                    var str = '';
                    $(d.pic).each(function(key,val){
                        str += '<img src="'+val+'" style="width:30px;margin-right:5px" alt="" />';
                    })
                    return str;
                }},
                {
                    title:'操作',
                    width:'9%',
                    toolbar:'#barDemo'
                }
            ]]
        })
    })
</script>

<script type="text/html" id="barDemo">
    {{# if(d.is_show == 1){ }}
    <a class="layui-btn layui-btn-xs odd" table="goods_discuss" val="2" key="is_show" data-id="{{d.id}}">显示</a>
    {{# }else{ }}
    <a class="layui-btn layui-btn-xs layui-btn-primary odd" table="goods_discuss" val="1" key="is_show" data-id="{{d.id}}">隐藏</a>
    {{# } }}
    <a class="layui-btn layui-btn-danger layui-btn-xs delete" data-table="goods_discuss" data-id="{{d.id}}" lay-event="del">删除</a>
</script>
